@import './partials/variabele';
@import './partials/general';
@import './partials/typography';
@import './partials/btn';
@import './partials/searchBar';
@import './partials/record';
@import './partials/grid';
@import './partials/iconBar-nav';
@import './partials/logos';
@import "./partials/header";
@import './partials/fixedNav';
@import './partials/card';
@import './partials/popular';

.value{
    margin-top: 4rem;
    padding-left: 1rem;
    &__title{
            color:$second-color;
            font-weight: bold;
    }
  
    &__heading{
        margin-block: 0.2rem;
    }

    // question
    .accordion__question{
        margin-top: 1.3rem;
        border: 1px solid #ccc;
        padding: 1rem;
        box-shadow: 0 0  10px 0 #ccc;
        // width: fit-content;
        margin-inline: 1.8rem;
          // img
    img{
        height: 1rem;
        background-color:$first-color-lighten;
        padding:2px;
        cursor: pointer;
    }
        .question-heading{
            display: flex;
            h4{
                margin-inline: 1rem 1.3rem;
            }
        }
        .question__body{
            margin-block: 1rem;
        }
    }
.valueImg{
    // margin: 1rem auto;
    text-align: center;
    img{
        border: 1px solid #ccc;
      
    }
}

}