@import './partials/variabele';
@import './partials/general';
@import './partials/typography';
@import './partials/btn';
@import './partials/searchBar';
.home{
    background-color: $heading-bg;
    height: 50vh;

}


.iconsBar{
    padding-block: 1rem;
    justify-content: space-around;
    & :first-child{
        background-color: $first-color;
        border-radius: 50%;
        padding: 3px;
        height: 1.4rem;
    }
    // cursor: pointer;
}