.btn{
    padding: 14px 1.6rem;
    border-radius: 6px;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.btn--primary{
    background-color: $first-color;
    color:white;
}

.btn--secondary{
    background-color:  $first-color-lighten;
    color:$first-color;
}

.btn--accent{
    background-color: #6a7ecfe5;
    color: white;
    border:2px solid $border-color;
}