 .iconsBar{
     padding-block: 1rem;
     justify-content: space-around;
     & :first-child{
         background-color: $first-color;
         border-radius: 50%;
         padding: 3px 8px;
         height: 1.6rem;
     }
 }