img{
    height: 1rem;
}
.barContainer{
    display: flex;
    background-color: white;
    padding:5px 10px;
    margin: 1rem 2rem;
    border-radius: 10px;
}
.searchBar{
   justify-content: space-between;
    img{
        height: 1.2rem;
        position:relative;
        top: 5px;
    }
    .searchBar-leftBox{
        margin-top: 10px;
    }
    input{
        border: 0;
        padding-left: 10px;
        font-size: 0.9rem;
        font-weight: bold;
    }

}